<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h5 calss="alert-heading">
                    <%=err.message%>
                </h5>
                <p>
                    <%=err.stack %>
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, sequi, ea iure quaerat quibusdam unde labore eaque vitae natus neque eligendi ab vel. Ducimus corporis alias eius expedita in soluta?
                </p>
            </div>
        </div>
    </div>